@import url('./reset.css');
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ecbb51;
  font-family: 'MaplestoryOTFLight', sans-serif;
}
.hidden {
  display: none;
}
.header {
  margin-top: 67px;
  margin-right: 50px;
}
.btn {
  border: none;
  background: transparent;
}

.title {
  color: white;
  font-size: 3rem;
  font-family: 'MaplestoryOTFBold', sans-serif;
  text-align: right;
  margin: 10px;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* 메인 영역 */
.main-container {
  background-color: white;
  margin: 0 40px;
  border-radius: 20px;
  box-shadow: -1px -1px 5px rgba(60, 61, 61, 0.2);
  padding: 30px 30px 130px 30px;
}

/* home container */
.fas.fa-heart {
  color: red;
}
.cats-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 40px;
  align-items: center;
  justify-content: center;
}
.edit-container {
  /* float: right; */
  display: flex;
  justify-content: right;
}
.hash-list {
  margin: 10px 0;
}
.card {
  width: 200px;
}
.like {
  border: none;
  background: transparent;
  margin-top: 10px;
}
.img-container {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.img-container img {
  width: 100%;
  height: 100%;
}

/* 하단 부분 */
.menu {
  background-color: #fff9ea;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 2;
  width: 100vw;
  height: 100px;
  border-radius: 30px 30px 0 0;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logo-img {
  width: 180px;
}
.info-title {
  font-family: 'MaplestoryOTFBold', sans-serif;
}
.info-title::after {
  content: ' |';
}
.nav-btn {
  margin: 0 20px;
}
.team-info {
  margin-left: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.hidden {
  display: none;
}

.post-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  padding: 3%;
  width: 30vw;
  height: 60vh;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: -1px -1px 5px rgba(60, 61, 61, 0.2);
  border-radius: 30px;
}
.post-modal h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3%;
}

.close-modal {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.upload-file {
  margin-bottom: 3%;
}

.uploaded-image {
  margin: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 3%;
}

.uploaded-image img {
  width: 100%;
  height: 100%;
}

.post-modal label {
  display: block;
  overflow: hidden;
}

#tag {
  background-color: #f8f7f7;
  color: black;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  margin-bottom: 3%;
}

#tag:focus {
  border-bottom: 1px solid black;
}

.post-modal .description {
  border: 1px solid #c4c4c4;
  margin-bottom: 3%;
  width: 100%;
  height: 6vh;
  overflow: hidden;
}

.submit-btn {
  font-family: 'MaplestoryOTFBold', sans-serif;
  background-color: #ecbb51;
  border: none;
  margin-bottom: 5%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
