@import url('./reset.css');

body {
  background-color: #ecbb51;
}

.header {
  height: 150px;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.main-container {
  background-color: white;
  margin: auto;
}

.menu {
  background-color: #fff9ea;
  position: fixed;
  bottom: 0;
}

.hidden {
  display: none;
}
