@import url('./reset.css');
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #ecbb51;
  font-family: 'MaplestoryOTFLight', sans-serif;
}
.hidden {
  display: none;
}
.header {
  margin-top: 67px;
  margin-right: 50px;
}
.btn {
  border: none;
  background: transparent;
}

.title {
  color: white;
  font-size: 3rem;
  font-family: 'MaplestoryOTFBold', sans-serif;
  text-align: right;
  margin: 10px;
}

.main-container {
  background-color: white;
  margin: 0 40px;
  border-radius: 20px;
  height: 100vh;
  box-shadow: -1px -1px 5px rgba(60, 61, 61, 0.2);
}

/* 하단 부분 */
.menu {
  background-color: #fff9ea;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100vw;
  height: 100px;
  border-radius: 30px 30px 0 0;
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.logo-img {
  width: 180px;
}
.info-title {
  font-family: 'MaplestoryOTFBold', sans-serif;
}
.info-title::after {
  content: ' |';
}
.nav-btn {
  margin: 0 20px;
}
.team-info {
  margin-left: 10px;
}
.btn-container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}
